.form-container{
    position: absolute;
    top: 30%;
    z-index: 20;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    width: 40% !important;
    background: rgb(240,249,255); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(240,249,255,1) 0%, rgba(203,235,255,1) 47%, rgba(161,219,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 47%,rgba(161,219,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}

.btn-action{
    margin-bottom: 7px;
    margin-top: 8px;
    margin-left: 5px;
    position: initial;
}

.container-modal{
    width: 40%;
    height: 90%;
    position: absolute;
    z-index: 19;
}

.inputData{
    width: 100% !important; 
	margin-bottom: 10px !important; 
	background: rgba(0,0,0,0.3) !important;
	border: none !important;
	outline: none !important;
    padding-left: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
	color: #fff !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3) !important;
	border: 1px solid rgba(0,0,0,0.3) !important;
	border-radius: 4px !important ;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2) !important;

}

form{
    margin: 20px;
     margin-right: 25px;
}
